.principal{
    background-color: #c3c3c3
}

    /* bienvenida.php */
.boton{
    size: 12px;
    font-size: 20px;
}

.cabacera-carta{
 background: #65AABF;
}

.cuerpo-carta{
 background: #447280;
}

.pie-carta{
 background: #223940;
}